.listadetareas-container{
    display: flex;
    flex-direction: column;
    background-color: #f5f6f7;
    width: 40vw;
    min-height: 30vh ;
    max-height: 90vh;
    border-radius: 30px;
    text-align: center;
    overflow: auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 10px;
}

h1 {
    text-decoration: underline;
}