.listadetareas-container {
    display: flex;
    flex-direction: column;
    background-color: #6609B3;
    color: white;
    width: 40vw;
    min-height: 30vh;
    max-height: 90vh;
    border-radius: 30px;
    text-align: center;
    overflow: auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 10px;
}

@media (max-width: 425px) {
    .listadetareas-container {
        padding: 3vh 5vw;
        margin: 0;
        width: 90vw;
    }
}